---
import '../styles/style.css'
import Layout from '@layouts/Layout.astro'
import Navbar from '@components/Navbar.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>kurosaki.cx</title>
  </head>
  <body>
    <Layout>
      <div class="flex justify-between gap-8 h-full w-full">
        <div class="font-medium text-sm flex flex-col gap-8 grow p-4 text-left">
          <div
            class="frame py-8 px-16 bg-gradient-to-t from-[#e7e5e444] to-[#0000] border-4 flex grow justify-between items-stretch frame-shadow"
          >
            <Navbar />
            <div class="flex flex-col justify-between bg-stone-200 bg-opacity-25 p-4 h-64 frame-shadow">
              <div class="relative w-40 h-40 shadow-md flex-none">
                <img class="absolute w-40 h-40 object-cover" src={'/avatar.jpg'} />
                <div
                  class="absolute w-40 h-40 border-4 border-secondary shadow-[inset_white_0px_0px_60px_-12px]"
                >
                </div>
                <div
                  class="absolute w-20 h-20 bg-transparent border-t-4 border-l-4 border-stone-200"
                >
                </div>
                <div
                  class="absolute -translate-y-full top-full left-1/2 w-20 h-20 bg-transparent border-b-4 border-r-4 border-stone-200"
                >
                </div>
              </div>
              <div
                class="text-center font-bold w-full text-shadow"
              >
                <h2 class="no-underline">avdb13</h2>
                <h3 class="capitalize">ace of all traits.</h3>
              </div>
            </div>
          </div>
          <div class="frame py-8 px-16 bg-gradient-to-t from-[#e7e5e444] to-[#0000] border-4 frame-2">
            <div class="flex flex-col justify-center items-center h-full text-stone-200">
              <div class="flex flex-col p-4 bg-stone-200 bg-opacity-25 frame-shadow w-full">
              <h2 class="text-shadow">Hi there <span class="ascii">(ʘ‿ʘ)╯</span></h2>
              <p class="text-sm font-normal text-shadow whitespace-pre-line">
                Seems like you stumbled across my website.
                Anyway ... since you're here, please have a look
                around if programming happens to be a topic of interest :)
              </p>
              </div>
            </div>
          </div>
          <div class="frame py-8 px-16 bg-gradient-to-t from-[#e7e5e444] to-[#0000] border-4 frame-3">
            <div class="flex justify-center items-center h-full text-stone-200">
              <div class="flex flex-col p-4 bg-stone-200 bg-opacity-25 frame-shadow [&>*]:text-shadow w-full">
              <h2>About me</h2>
              <div class="flex flex-col">
              <p class="text-sm font-normal whitespace-pre-line">
                I'm a Software developer contributing to a handful of projects to secure
                a free (libre, not costless), open and reliable internet for the future.
                This is mainly done by using (and promoting) <a href="https://www.rust-lang.org" >the Rust programming language</a>,
                which allows me to write performant yet readable code.
              </p>
              <p class="text-sm font-normal whitespace-pre-line">
                Aside from that, I've found great value in PostgreSQL, TypeScript and Tailwind.
                I did not have the chance to learn programming in college, yet I believe
                that everyone can learn the art of software.
              </p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Layout>
  </body>
</html>
