---
import '@fontsource-variable/martian-mono';
---
<ul id="navbar">
  <li class="navbar-li">
    <a class="text-shadow button" href="https://github.com/avdb13"
      >GitHub</a
    >
  </li>
  <li class="navbar-li">
    <a class="text-shadow button" href="/writings"
      >coming soon</a
    >
  </li>
  <li class="navbar-li">
    <a class="text-shadow button" href="/cloud"
      >coming soon</a
    >
  </li>
  <li class="navbar-li">
    <a class="text-shadow button" href="/resume.pdf"
      >coming soon</a
    >
    <div></div>
  </li>
</ul>
